$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-chevron-fat-right: "\e900";
$icon-chevron-fat-left: "\e901";
$icon-chevron-thin-left: "\e902";
$icon-chevron-thin-right: "\e903";
$icon-facebook: "\e904";
$icon-pinterest: "\e905";
$icon-rss: "\e906";
$icon-search: "\e907";
$icon-twitter: "\e908";
$icon-youtube: "\e909";

