$breakpoints: (
	'full': 1920px,
	'xl': 1680px,
	'macbook': 1440px,
	'ipad-pro': 1366px,
	'laptop13': 1265px,
	'desktop': 1024px,
	'tablet': 768px,
	'phone': 667px,
	'xs-phone': 375px,
);
// ligatured operators ≥ ≤

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// Colors basic
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

$black:      #000;
$white:      #fff;

$gray-100:   #ebebeb;
$gray-200:   #cfcfcf;
$gray-300:   #a8a8a8;
$gray-400:   #999;
$gray-500:   #7b7b7b;
$gray-600:   #666;
$gray-900:   #222;

$dove-gray:  #6d6d6d;
$mercury:    #e8e8e8;
$porcelain:  #f6f7f8;

$blue-100:   #f7faff;
$blue-200:   #edf1fa;
$blue-400:   #0576f5;
$blue-600:   #00418a;

$orange-400: #f7941d;

$green-300:  #22af95;
$green-400:  #1ab56b;
$green-500:  #30a07e;
$green-600:  #1bac80;
$green-700:  #179769;
$green-900:  #1d292b;

$teal-400:   #2dc0bb;

$brand-facebook: #395a98;
$brand-twitter: #08adee;
$brand-pinterest: #c8202b;


// Colors theme
$color-brand:          $green-400;
$color-brand-dark:     $green-900;
$color-brand-light:    $green-300;

// Fonts
// $font-folder-root: "../fonts/";
$font-nunito: 'Nunito Sans', sans-serif;
$base-font-sans-serif: $font-nunito;
$base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;
$base-main-font: $base-font-sans-serif;
// @include ff-mixin($font-veneer, $font-folder-root+$font-veneer, 400, normal);

// This is the default html and body font-size for the base rem value.
$rem-base: 16px;

// Body
$base-text-color: $green-900;
$font-size-base: 1.13rem;
$line-height-base: 1.67;
$base-font-family: $base-font-sans-serif;
$vertical-rhythm: ($line-height-base * 1em);

$body-background: #e5e5e5;
$base-border-radius: 0.2rem;
$theme-gradient: linear-gradient(90deg, $green-400 0%, $teal-400 100%);

// Headers
$h1-font-size: 46px;
$h2-font-size: 30px;
$h3-font-size: 24px;
$h4-font-size: 21px;
$h5-font-size: 19px;
$h6-font-size: 18px;
$page-title:   55px;

$heading-font-family: $base-main-font;
$heading-font-weight: 700;
$heading-line-height: 1.35;

// Container
$container-width: 1120px;
$container-pading-left: 20px;
$container-pading-right: $container-pading-left;
$container-width-full: $container-width + $container-pading-left + $container-pading-right;

// Buttons + Forms
$border-width:        1px !default;
$input-btn-padding-y: 0.9rem;
$input-btn-padding-x: 1.81rem;

// Buttons
$btn-min-width: 7.56rem;
$btn-padding-y: $input-btn-padding-y;
$btn-padding-x: $input-btn-padding-x;
$btn-font-size: 1.19rem;
$btn-font-weight: 700;
$btn-font-family: $base-font-sans-serif;
$btn-radius: $base-border-radius;
$btn-border-width: $border-width;
$btn-line-height: 1.2;
$btn-letter-spacing: 0;
$btn-bg-color: $orange-400;
$btn-bg-none: none;


// Forms
$input-btn-border-width:  $btn-border-width;
$input-height-border:     $input-btn-border-width * 4;
$input-padding-y:         $input-btn-padding-y;
$input-padding-x:         1.25rem;
$input-line-height:       $btn-line-height;
$input-height:            calc(#{$input-line-height * 1rem} + #{$input-padding-y * 2} + #{$input-height-border});
$input-color:             $gray-300;
$input-border-color:      $gray-200;
$input-placeholder-color: $gray-300;
$input-font-weight:       400;
$input-font-size:         1.063rem;
$form-element-focus-border-color: $gray-600;

// Animation
$animation-speed: .25s;
$animation-name: ease;
$btn-transition: color $animation-speed $animation-name, background $animation-speed $animation-name, opacity $animation-speed $animation-name , border-color $animation-speed $animation-name !default;
$input-transition: background $animation-speed $animation-name, border-color $animation-speed $animation-name, box-shadow $animation-speed $animation-name !default;
