<header class="header">
	<div class="container">
		<div class="header_wrap">
			<div class="header_panel">
				<div class="logo"><a href="#"><img src="img/logo.png" alt="Frugal For Less" width="255" height="38"></a></div>
				<div class="social-network-header hidden--xs">
					<ul class="social-network">
						<li>
							<a href="#" target="blank">Facebook<i class="icon-facebook"></i></a>
						</li>
						<li>
							<a href="#" target="blank">Twitter<i class="icon-twitter"></i></a>
						</li>
						<li>
							<a href="#" target="blank">Pinterest<i class="icon-pinterest"></i></a>
						</li>
						<li>
							<a href="#" target="blank">YouTube<i class="icon-youtube"></i></a>
						</li>
						<li>
							<a href="#" target="blank">rss<i class="icon-rss"></i></a>
						</li>
						<li class="search-opener visible--md">
							<a href="#">Search<i class="icon-search"></i></a>
						</li>
					</ul>
				</div>
			</div>
			<nav class="navbar">
				<div class="navbar_collapse">
					<div class="nav nav--left">
						<ul>
							<li>
								<a href="#">Make Money</a>
								<ul>
									<li><a href="#">link 1</a></li>
									<li><a href="#">link 2</a></li>
									<li><a href="#">link 3</a></li>
								</ul>
							</li>
							<li><a href="#">Save Money</a></li>
							<li><a href="#">Wisdom</a></li>
							<li><a href="#">Blogging</a></li>
							<li>
								<a href="#">Reviews</a>
								<ul>
									<li><a href="#">link 1</a></li>
									<li><a href="#">link 2</a></li>
									<li><a href="#">link 3</a></li>
								</ul>
							</li>
							<li><a href="#">Investing</a></li>
						</ul>
					</div>
					<div class="nav nav--right">
						<ul>
							<li><a href="#">Resources</a></li>
							<li>
								<a href="#">Courses</a>
								<ul>
									<li><a href="#">link 1</a></li>
									<li><a href="#">link 2</a></li>
									<li><a href="#">link 3</a></li>
								</ul>
							</li>
							<li class="search-opener hidden--md"><a href="#">Search<i class="icon-search"></i></a></li>
						</ul>
					</div>
					<div class="social-network-header visible--xs">
						<ul class="social-network">
							<li>
								<a href="#" target="blank">Facebook<i class="icon-facebook"></i></a>
							</li>
							<li>
								<a href="#" target="blank">Twitter<i class="icon-twitter"></i></a>
							</li>
							<li>
								<a href="#" target="blank">Pinterest<i class="icon-pinterest"></i></a>
							</li>
							<li>
								<a href="#" target="blank">YouTube<i class="icon-youtube"></i></a>
							</li>
							<li>
								<a href="#" target="blank">rss<i class="icon-rss"></i></a>
							</li>
							<li class="search-opener">
								<a href="#">Search<i class="icon-search"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<div class="search-slide">
				<form action="#" class="search-form" id="searchform-header" method="get" role="search">
					<input id="s-header" name="s" type="search" placeholder="Search">
					<button type="submit"><i class="icon-search"></i></button>
				</form>
			</div>
			<a href="#" class="nav-opener"><span class="nav-opener_item">Menu</span></a>
		</div>
	</div>
</header>