<div class="subscribe-section">
	<div class="container">
		<div class="subscribe-section_columns">
			<div class="subscribe-section_col">
				<div class="subscribe-section_heading" data-aos="fade-up" data-aos-delay="300" data-aos-offset="100">
					<h4 class="subscribe-section_title">Free email updates</h4>
					<p>Subscribe for a free copy of our ebook:</p>
					<p><strong><a href="#" target="_blank">101 Free Money Making Apps</a></strong></p>
				</div>
			</div>
			<div class="subscribe-section_col">
				<div class="subscription-box subscription-box--bottom" data-aos="zoom-in" data-aos-offset="100">
					<div class="form-subscription">
						<div role="form" class="wpcf7" id="wpcf7-f1567-p704-o1" lang="en-US" dir="ltr">
							<div class="screen-reader-response"></div>
							<form action="/wordpress/contact-us/#wpcf7-f1567-p704-o1" method="post" class="wpcf7-form" enctype="multipart/form-data" novalidate="novalidate">
								<div style="display: none;">
									<input type="hidden" name="_wpcf7" value="1567" />
									<input type="hidden" name="_wpcf7_version" value="4.9.2" />
									<input type="hidden" name="_wpcf7_locale" value="en_US" />
									<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f1567-p704-o1" />
									<input type="hidden" name="_wpcf7_container_post" value="704" />
								</div>
								<p>
									<span class="wpcf7-form-control-wrap your-name">
										<input type="text" name="bottom-subscription-name" placeholder="Your name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" />
									</span>
									<span role="alert" class="wpcf7-not-valid-tip" style="display: none;">Please fill the required field.</span>
								</p>
								<p>
									<span class="wpcf7-form-control-wrap your-email">
										<input type="email" name="bottom-subscription-email" value="" placeholder="Your email" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" />
									</span>
								</p>
								<p>
									<input type="submit" value="Subscribe" class="wpcf7-form-control wpcf7-submit" />
								</p>
								<div class="wpcf7-response-output wpcf7-display-none wpcf7-mail-sent-ok" role="alert" style="display: none;">Your message was sent successfully. Thanks.</div>
								<div class="wpcf7-response-output wpcf7-display-none wpcf7-validation-errors" style="display: none;" role="alert">Validation errors occurred. Please confirm the fields and submit it again.</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>