.footer {
	background: $color-brand-dark;
	color: $white;
	font-size: 15px;
	line-height: 1.33;

	@include media("<desktop") {
		font-size: 14px;
	}

	&_upper {
		padding: rem(97px) 0 rem(29px);

		@include media("<phone") {
			padding-top: 40px;
		}
	}

	&_lower {
		padding: rem(29px) 0 rem(34px);
		border-top: 1px solid rgba(#C4C4C4, .2);
		color: rgba($white, .67);
		font-size: 12px;
		line-height: 1.4;

		@include media("<desktop") {
			text-align: center;
		}
	}

	&_columns {
		display: flex;
		justify-content: space-between;
		margin: 0 -15px;

		@include media("<laptop13") {
			flex-wrap: wrap;
		}
		@include media("<phone") {
			flex-direction: column;
			text-align: center;
		}
	}
	&_col {
		flex: 1 1 calc(100% / 6);
		max-width: calc(100% / 6);
		padding: 0 15px;

		@include media("<tablet") {
			flex: 1 1 calc(100% / 4);
			max-width: calc(100% / 4);
		}
		@include media("<phone") {
			flex-basis: 100%;
			max-width: 100%;
		}

		&:nth-last-child(2) {
			@include media(">laptop13") {
				flex-basis: 18%;
				max-width: 18%;
			}
		}

		&:last-child {
			text-align: right;
			@include media("<laptop13") {
				flex-basis: 20%;
				max-width: 20%;
			}
			@include media("<desktop") {
				flex-basis: 26%;
				max-width: 26%;
			}
			@include media("<tablet") {
				flex-basis: 100%;
				max-width: 100%;
				padding-top: 30px;
				text-align: center;
			}
		}

		&--lg {
			flex-basis: 70%;
			max-width: 70%;

			@include media("<laptop13") {
				flex-basis: 100%;
				max-width: 100%;
			}
			@include media("<tablet") {
				flex-basis: 100%;
				max-width: 100%;
			}
		}
	}

	&_top-col {
		@include media("<laptop13") {
			max-width: 400px;
			margin: 0 auto rem(30px);
			text-align: center;
		}
	}

	&_logo {
		margin-bottom: rem(28px);
	}

	&_nav {
		@extend %listreset;
		font-weight: 600;

		li {
			& + li {

				@include media(">phone") {
					padding-top: rem(14px);
				}
			}
		}

		a {
			color: inherit;

			@include media("<phone") {
				display: block;
				padding: 5px 0;
			}

			&:hover {
				color: $color-brand-light;
			}
		}
	}

	p {
		&:last-child{
			margin-bottom: 0;
		}
	}

	a {
		color: inherit;
		&:hover {
			color: $color-brand-light;
		}
	}

	[href^="mailto:"] {
		font-weight: 600;
	}
}

.social-network-footer {
	display: flex;
	justify-content: flex-end;
	margin-bottom: rem(20px);

	@include media("<tablet") {
		justify-content: center;
	}

	.social-network {
		a {
			color: inherit;
			&:hover {
				color: $color-brand-light;
			}
		}
	}
}